.cursor {
    width: 40px;
    height: 40px;
    border: 2px solid var(--black);
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: all 0.3s cubic-bezier(.215, .61, .355, 1);
}
 
 .cursorhidden 
 {
    opacity: 0;
 }


.cursorhover {
   transform: translate(-50%, -50%) scale(1.25);
   background-color: var(--white);
}