:root
{
  --white: #fff;
  --black: #1b1b1b;
  --orange: #F75F34;
  --pink: #EC3D69;
  --fira: 'Fira Sans';
  --inter: 'Inter';
  --gig: 56px;
  --big: 32px;
  --medium: 24px;
  --small: 16px;
  --blackbold: 900;
  --bold: 700;
  --normal: 400;
  --thin: 300;
}

html,
body 
{
  font-family: var(--inter), sans-serif;
  color: var(--black);
}

a, 
li 
{
  color: inherit;
  text-decoration: none;
  list-style: none;
}

h1,
h2,
h3,
h4
{
  font-family: var(--fira), sans-serif;
}

* 
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


