.header
{
  width: 100%;
  max-width: 1480px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
}

.logo
{
  font-size: var(--small);
}

.logo h1 span:first-child 
{
  color: var(--pink);
}

.logo h1 span:last-child 
{
  color: var(--orange);
}

.menu ul
{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu ul li 
{
  padding: 0 20px;
  font-size: var(--small);
  font-weight: var(--thin);
}

.menu ul li:hover:nth-child(odd) a
{
  border-bottom: 5px solid var(--pink);
  transition: all 0.1s linear;
}

.menu ul li:hover:nth-child(even) a
{
  border-bottom: 5px solid var(--orange);
  transition: all 0.1s linear;
}