.header
{
  width: 100%;
  max-width: 1480px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
}

.logo
{
  font-size: var(--small);
}

.logo h1 span:first-child 
{
  color: var(--pink);
}

.logo h1 span:last-child 
{
  color: var(--orange);
}

.button 
{
  background-color: var(--black);
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  box-shadow: 0 5px 20px rgba(0,0,0,.5);
  border: 1px solid var(--black)!important;
}

.button:hover
{
  border: 1px solid var(--white)!important;
  background-color: var(--white);
  color: var(--black);
  border-bottom: 1px solid var(--black);
}

.menu ul
{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu ul li 
{
  padding: 0 20px;
  font-size: var(--small);
  font-weight: var(--thin);
}

.menu ul li:hover:nth-child(odd) a
{
  border-bottom: 5px solid var(--pink);
  transition: all 0.1s linear;
}

.menu ul li:hover:nth-child(even) a
{
  border-bottom: 5px solid var(--orange);
  transition: all 0.1s linear;
}

@media (max-width: 768px) 
{
  .logo
  {
    z-index: 2;
    color: var(--white);
  }
  .menu 
  {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: var(--black);
    display: flex;
    z-index: 1;
  }

  .menu ul
  {
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 120px;
    width: 100%;
  }

  .menu ul li 
  {
    color: var(--white);
    font-size: var(--big);
    font-family: var(--fira);
    font-weight: var(--blackbold);
    padding: 10px 20px;
    margin-bottom: 20px;
  }

  .menu ul li:nth-child(odd)
  {
    border-bottom: 5px solid var(--pink);
    transition: all 0.1s linear;
  }

  .menu ul li:nth-child(even)
  {
    border-bottom: 5px solid var(--orange);
    transition: all 0.1s linear;
  }

  .menu ul li:last-child
  {
    border: none;
    text-align: center;
  }

  .menu ul li:hover:nth-child(odd) a
  {
    border-bottom: none;
  }

  .menu ul li:hover:nth-child(even) a
  {
    border-bottom: none;
  }

  .button 
  {
    background-color: none;
    color: white;
    border-radius: none;
    padding: 0;
    box-shadow: none;
    font-size: var(--standard);
    font-weight: var(--thin);
    text-decoration: underline;
  }

  .button:hover
  {
    border: none!important;
    background-color: transparent;
    color: var(--white);
  }
}
