.container
{
    width: 100%;
    margin: 0 auto;
    margin-top: 80px;
}

.container h2
{
    font-family: 'Inter', sans-serif;
    font-size: var(--big);
    font-weight: var(--thin);
    text-align: center;
}

.container ul
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-weight: var(--blackbold);
    font-family: var(--fira), sans-serif;
    position: relative;
}

.container ul li
{
    -webkit-text-stroke: 2px var(--black);
    position: relative;
}

.container ul li a
{
    color: transparent;
    z-index: -2;
}

.container ul li span
{
    position: absolute;
    color: var(--black);
    z-index: -2;
}

.container ul li:last-child span
{
    color: var(--black);
}

.col 
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
}

.col p
{
    font-size: var(--medium);
    font-weight: var(--thin);
}

.image
{
    width:100%;
    max-width: 500px;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}