.container
{
    width: 100%;
    margin: 0 auto;
    position: relative;
    margin-top: 40px;
}

.container h2
{
    font-family: 'Inter', sans-serif;
    font-size: var(--big);
    font-weight: var(--thin);
    text-align: center;
    margin-bottom: 80px;
}

.container ul
{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-weight: var(--blackbold);
    font-family: var(--fira), sans-serif;
    position: relative;
}

.container ul li
{
    position: relative;
}

.container ul li a
{
    color: transparent;
    z-index: -2;
    transition: color 0.5s cubic-bezier(.215, .61, .355, 1);
}

.container ul li span
{
    position: absolute;
    color: var(--black);
    z-index: -2;
    transition: color 0.5s cubic-bezier(.215, .61, .355, 1);
}

.container svg
{
    z-index: -3;
    position: absolute;
    bottom: 0; 
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 600px;
}

.container svg path
{
    transition: all 0.5s cubic-bezier(.215, .61, .355, 1);
}

.container ul li:last-child a
{
    -webkit-text-stroke: 2px var(--black);
}

.container ul li:first-child:hover span
{
    color: var(--black);
}

.container ul li:first-child:hover a
{
    -webkit-text-stroke: 2px var(--black);
}

.container ul li:first-child:hover + li:last-child span
{
    color: white;
    -webkit-text-stroke: 2px var(--black);
}

.container ul li:first-child:hover + li:last-child a
{
    -webkit-text-stroke: 0px var(--black);
}

.container ul li:first-child span
{
    color: var(--white);
    -webkit-text-stroke: 2px var(--black);
}

.col 
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
}

.col p
{
    font-size: var(--medium);
    font-weight: var(--thin);
}

.image
{
    width:100%;
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.image img
{
    width: 100%;
    max-width: 600px;
}
