.modal
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    background-color: var(--black);
    opacity: 0;
    animation: opacity 0.5s 1;
    animation-fill-mode: forwards;
    z-index: 1;
    color: var(--black);
    padding: 40px;
}

@keyframes opacity 
{
  from {opacity:  0;}
  to {opacity: 0.99;}
}


.modal img 
{
    display: flex;
    position: relative;
    width: 100%;
    box-shadow: 5px 5px 20px rgba(0,0,0,.30);
}

.modal div
{
    width: 100%;
    max-width: 1020px;
}

.modal svg 
{
    position: absolute;
    right: 20px;
    top: 20px;
    font-weight: bold;
    cursor: pointer;
}

.modal div h4
{
    font-size: var(--standard);
    font-weight: var(--thin);
    font-family: var(--inter), sans-serif;
    padding: 5px;
}

.modal div p
{
    font-size: var(--small);
    font-weight: var(--thin);
    font-family: var(--inter), sans-serif;
    padding: 5px;
}

.vertical
{
    width: auto!important;
    max-height: 90vh;
}