.col50
{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.post
{
    width: 100%;
    padding: 40px;
}

.post img 
{
    width: 100%;
    box-shadow: 5px 5px 20px rgba(0,0,0,.30);
}